.f {
    display: flex;
}

.app {
    flex-direction: column;
    width: 75%;
    height: 100vh;
    margin: auto;
}

.logo {
    display: flex;
    align-self: flex-end;
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.logout {
    align-self: flex-end;
}

/* Container for all playlists */
.pl-lib-cont {
    flex-direction: column;
   
}

/* Spotify Playlists */

#pl-h-top {
    margin-bottom: -30px;
}
#pl-h {
    font-size: 100px;
}

/* Carousel */

.carousel {
    align-items: center;
}

.carousel-slides {
    flex-grow: 2;
    align-items:center;
    justify-content: space-between;
}

/* .carousel-slides div:nth-child(2n) {
    margin-top: -50px;
} */

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-cont {
    padding: 10px; 
}

.saved-playlist-cont {
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.pl-cover {
   width: 160px;
   height: 160px; 
}

.pl-cover-custom {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.save-cont {
    position: absolute;
    margin-top: -10px;
}

.save-btn {
    margin-right: 5px;
    margin-bottom: -35px;
    z-index: 5;
    align-self: flex-end;
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 12px; 
    text-align: center; 
}

/* SAVED PLAYLISTS + TRACKS */

#saved-h {
    font-size: 90px;
    align-self: flex-end;
}

.saved-section {
    display: flex;
    max-height: 30%;
    /* overflow: hidden; */
}

.tracks-container {
    flex-grow: 2;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll-box {
    flex-grow: 1;
    overflow: scroll;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-end;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}



