
.carousel {
    display: flex;
    /* justify-content: space-around; */
    margin: 0 10%;
    align-items: center;
}

.carousel-slides {
    display: flex;
    align-items:center;
    justify-content: space-around;
}

/* .carousel-slides div:nth-child(2n) {
    margin-top: -50px;
} */


.playlist-cont {
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    align-items: center;
}

.saved-playlist-cont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.pl-cover {
   width: 160px;
   height: 160px; 
}

.pl-cover-custom {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.save-cont {
    position: absolute;
    margin-top: -10px;
}

.save-btn {
    margin-right: 5px;
    margin-bottom: -35px;
    z-index: 5;
    align-self: flex-end;
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 12px; 
    text-align: center; 
}

.logo {
    display: flex;
    background-color: black;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#pl-h {
    font-size: 100px;
    margin-bottom: -120px;
}

/* SAVED PLAYLISTS + TRACKS */

.saved-section {
    display: flex;
    max-height: 40%;
}

#tracks-container {
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroll-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* max-height: 100px; */
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

}

