.f {
    display: flex;
}

.app {
    flex-direction: column;
    width: 75%;
    height: 100vh;
    margin: auto;
    padding-top: 40px;
}

.logo {
    display: flex;
    align-self: flex-end;
    background-color: black;
    color: white;
    min-width: 60px;
    min-height: 60px;
    font-size: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
    /* margin-bottom: -60px; */
}

.logout {
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: -125px;
    z-index: 3;
}

/* Container for all playlists */
.pl-lib-cont {
    flex-direction: column;
    margin-top: 10px;
}

/* Spotify Playlists */

#pl-h-top {
    margin-bottom: -30px;
}
#pl-h {
    font-size: 100px;
}

/* Carousel */

.carousel {
    align-items: center;
}

.carousel-slides {
    flex-grow: 2;
    align-items:center;
    justify-content: space-between;
}

/* .carousel-slides div:nth-child(2n) {
    margin-top: -50px;
} */

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Individual Playlists */

.playlist-cont {
    padding: 10px; 
}

.pl-cover {
   width: 160px;
   height: 160px; 
}

.pl-cover-custom {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.save-cont {
    position: absolute;
    margin-top: -10px;
}

.save-btn {
    margin-right: 5px;
    margin-bottom: -35px;
    z-index: 5;
    align-self: flex-end;
    border-radius: 50%;
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 12px; 
    text-align: center; 
}

/* Save Form */
.save-form {
    background: white;
    border: #e9ecef solid 2px;
    border-radius: 12px;
    padding: 10px;
}

/* SAVED PLAYLISTS + TRACKS */

#saved-h {
    font-size: 90px;
    align-self: flex-end;
}

.saved-section {
    display: flex;
    max-height: 30%;
    overflow: hidden;
}

.saved-playlist-cont {
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    padding-right: 20px;
}

.selected {
    background: #e9ecef;
    border-radius: 0 12px 12px 0;
}

.tracks-container {
    flex-grow: 2;
    overflow: scroll;
    overflow-x: hidden;
    background: #e9ecef;
    border-radius: 12px 0 0 12px;
    padding: 15px;
}

.scroll-box {
    flex-grow: 1;
    overflow: scroll;
    flex-direction: column;
    overflow-x: hidden;
    align-items: stretch;
    margin-right: 0;
}

/* Tracks */
.track-cont {
    margin-bottom: 5px;
}

.album-cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.track-name {
    margin-bottom: -2px;
}

.artists {
    margin-top: 0px;
    font-size: small;
}


/* Scrollbars */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}



